<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <title>- the glowship -</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    {#<link rel="stylesheet" href="css/mainmain.css">#}
    <link rel="icon" href="images/favicon.gif">
  </head>

  <body>
    <div id="container">
      <div id="headerarea">
        <header>{% include "partials/header.njk" %}</header>
        <nav>{% include "partials/navbar.njk" %}</nav>
      </div>
      
      <div id="flex">
        <div id="bigmain">
          <main>{{ content | safe }}</main>
        </div>
        <aside id="rightsidebar"> {% include "partials/rightsidebar.njk" %}</aside>
      </div>

     <footer>{% include "partials/footer.njk" %}</footer>
    </div>
  </body>
</html>