main {
    width: calc(100% / 7 * 5);
    height: 30rem;
    padding: 0 1em 1em;
    margin: 0;
    background-color: var(--peach-yellow);
    border: 0.2em ridge var(--resolution-blue);
    overflow: scroll;
  }

