<ul>
    <li> Started on: <time datetime="09-12-24">09 / DEC / 2024</time></li>
    <li> <a class="darklink" href="https://discordapp.com/users/561665106807619584">Contact via Discord</a> </li>
    <li> ♡Copying Art is an act of love. Please copy and share.</li>
</ul>